.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mint);
  padding: 1rem 2rem;
}
.footer .section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer a svg {
  color: var(--dark-blue);
  font-size: 2.5rem;
}
.footer a svg:hover {
  color: var(--light-grey);
}
.footer div p {
  color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}
